body{
    background: linear-gradient(rgb(121, 175, 255),rgb(34, 130, 255));
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
img{
   
    width: 280px;
    height: 300px;
    display: block;
    margin: 0 auto;
}
.btn {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  font-size: 22px;
  text-align: center;
  display: block;
  background-color: #d6eaff;
  border-radius: 10px;
  text-decoration: none; 
  color: black;

}

.social-buttons{
  text-align: center;
}

.social-buttons a{
  display: inline-block;
  margin: 10px;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 35px;
}
.Facebook {
     background-color: #3b5998; 
    }
.Gmail {
     background-color: #55acee; 
    }
.Instagram { 
    background: linear-gradient(rgb(229,3,86), rgb(231,191,54), rgb(232,78,78)); 
}
.WhatsApp {
     background-color: #2ee54c;
     }

footer {
    
    color: white;
    text-align: center;
    padding: 15px;
}



